body {
  font-size: 18px;
  width: 100%;
  margin: auto;
  height: auto;
}

header {
  background: #579c87;
  width: 100%;
  height: 120px;
  padding-top: 5px;
  margin-bottom: 29px;
}
header p {
  position: absolute;
  top: 85px;
  width: 100%;
}
header p label {
  display: none;
}
header p .fa-search {
  position: absolute;
  top: 7px;
  left: 15px;
  color: #a1a1a1;
}
header #search {
  width: 100%;
  height: 30px;
  padding-left: 50px;
  border: none;
  background-color: #e8e8e8;
  box-shadow: 0px 0px 5px #a1a1a1;
  font-size: 16px;
  color: #4b4b4b;
}

#logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
#logo h1 {
  display: none;
}

#contener {
  width: 75%;
  height: auto;
  margin: auto;
  margin-top: 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
#contener .note {
  width: 180px;
  height: 100px;
  display: flex;
  flex-direction: row;
  margin-left: 80px;
}
#contener .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 43%;
  height: 650px;
  justify-content: center;
  margin: 20px;
  background: #FCDFDB;
  box-shadow: 0px 0px 5px #a1a1a1;
  text-align: justify;
}
#contener .menu a:link {
  text-decoration: none;
}
#contener .menu.grow a {
  transition: all 0.5s ease-in-out;
  margin: 0;
}
#contener .menu.grow:hover a {
  transform: scale(1.6);
  opacity: 0.5;
}
#contener .titre {
  font-size: 50px;
  text-align: center;
  margin-top: 0px;
  font-family: "Devonshire", cursive;
  color: #3c1218;
}
#contener .sous_titre {
  font-family: "Tillana", cursive;
  color: #3c1218;
  font-size: 50px;
  text-align: center;
}
#contener .chic .note, #contener .delice .note, #contener .palette .note {
  display: none;
}
#contener .chic {
  background: #fff5fe;
}
#contener .chic .titre {
  font-family: "Croissant One", cursive;
  word-spacing: -4px;
  font-size: 28px;
  background: linear-gradient(to right, #d8852e, #905bfd);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#contener .chic .sous_titre {
  font-family: "Libre Baskerville", cursive;
  color: #c77412;
}
#contener .delice {
  background: #f9f9f9;
}
#contener .delice .titre {
  font-family: "Parisienne", cursive;
  font-size: 38px;
  background: linear-gradient(to right, #0645e5, #1b91fa);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#contener .delice .sous_titre {
  font-family: "Tillana", cursive;
  color: #0887fb;
}
#contener .palette {
  background: #fdfffd;
}
#contener .palette .titre {
  font-family: "Croissant One", cursive;
  font-size: 30px;
  background: linear-gradient(to right, #42973c, #bfff7e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#contener .palette .sous_titre {
  font-family: "Tillana", cursive;
  color: #72bf56;
}

.bouton {
  display: flex;
  justify-content: center;
  border-radius: 15px;
  width: 100%;
  height: 60px;
  margin-bottom: 70px;
}
.bouton .btn {
  background: #579c87;
  min-width: 11%;
  height: 32px;
  color: #fdcb46;
  border-radius: 15px;
  padding: 10px;
}
.bouton .btn .points {
  font-size: 26px;
  font-family: sans-serif;
}
.bouton .btn .points:after {
  display: inline-block;
  animation: point steps(1, end) 2s infinite;
  content: "";
}
@keyframes point {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}

#bas {
  width: 100%;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #579c87;
  text-decoration: none;
  height: 30px;
  bottom: 0px;
  position: fixed;
}
#bas p {
  color: #fdcb46;
  font-size: 25px;
}

a:link {
  text-decoration: none;
  margin-right: 20px;
}

#bas p:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@media screen and (max-width: 1080px) {
  #contener {
    width: 100%;
  }
  #contener .menu.grow:hover a {
    transform: scale(1.1);
  }
  #contener .menu {
    height: 500px;
    width: 44%;
  }
}
@media screen and (max-width: 768px) {
  #contener {
    width: 100%;
  }
  #contener .menu.grow:hover a {
    transform: scale(1.1);
  }
  #contener .menu {
    width: 44%;
  }
  #contener .chic .titre {
    font-size: 27px;
  }
}
@media screen and (max-width: 666px) {
  header {
    margin: 0px;
  }

  .logo {
    width: 100%;
    margin: 10px;
  }

  a img {
    width: 100%;
    margin: 10px;
  }

  a {
    margin: 0%;
  }

  #contener {
    margin-top: 20px;
  }
  #contener .menu {
    width: 90%;
  }

  #bas p {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
