@import "../libs/transform.scss";
@import "../libs/mixins.scss";
@import "../libs/radiant.scss";


$enchant-couleur_police:#3c1218;
$enchant-couleur_fond_menu:#FCDFDB;
$enchant-police_titre:'Devonshire',cursive;
$enchant-police_sous_titre:'Kurale', cursive;

$chic-couleur_police:#c77412;
$chic-couleur_fond_menu:#fff5fe;
$chic-police_titre:'Croissant One',cursive;
$chic-police_sous_titre:'Libre-Baskerville', cursive;
$couleur_police_titre_nom_entrée:#c7750c;
$couleur_police_titre_nom_plat:#a6679a;
$couleur_police_titre_nom_dessert:#6e4bce;

$delice-couleur_police:#0887fb;
$delice-couleur_fond_menu:#eef0f0;
$delice-police_titre:'Parisienne',cursive;
$delice-police_sous_titre:'Tillana', cursive;

$palette-couleur_police:#72bf56;
$palette-couleur_fond_menu:#fdfffd;
$palette-police_titre:'Kaushan Script',cursive;
$palette-police_sous_titre:'Tillana', cursive;


body{
    font-size: 18px;
    width: 100%;
    margin: auto;
    height: auto;
}
header{
    background: #579c87;
    width: 100%;
    height: 120px;
    padding-top: 5px;
    margin-bottom: 29px;
    p{
        position: absolute;
        top: 85px;
        width: 100%;
    }
    p label{
        display: none;
    }
    p .fa-search {
        position: absolute;
        top: 17px;
        left: 15px;
        color: #a1a1a1;
    }
    #search {
        width: 100%;
        height: 50px;
        padding-left: 50px;
        border: none;
        background-color: #e8e8e8;
        box-shadow: 0px 0px 5px #a1a1a1;
        font-size: 16px;
        color: #4b4b4b;
    }  
}    
    #logo{
        width: 100%;
        display: flex;
        justify-content: center;
        h1{
            display: none;  
        }
    }
    .header{
        background : #ffffff;
        display: flex;
        justify-content: center;
        height: 60px;
       
    }  
    .titre h1{
        display: none;
        margin-bottom: 0px;
    }
    .carte.chic{        
        background: $chic-couleur_fond_menu;
        
    }
    .carte.enchant{
        background: $enchant-couleur_fond_menu;
    }  
    .carte.delice{
        background: $delice-couleur_fond_menu;
    }
    .carte .palette{
        background: $palette-couleur_fond_menu;
    }
    .carte{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: auto;
        margin: auto;
        justify-content: center;
        box-shadow: 0px 0px 5px #a1a1a1;
        margin-bottom: 130px;
        padding-left: 30px;
        padding-right: 30px;
        
        .pos{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .pos img{
            display: flex;
            flex-direction: column;
            width: 70%;
            justify-content: center;
            align-content: center;
        } 
    }
    .note{
        display: flex;
        justify-content: center;
        img{
            width:60%;
            height: 100px;
            margin-top: 20px;
                
        }
    }
        .titre.chic{
            font-family: $chic-police_titre;
            font-size:48px;
            @include chic;
        }
        .titre.palette{
            font-family: $palette-police_titre;
            @include palette;
            font-size:48px;
        }
        .titre.delice{
            font-family: $delice-police_titre;
            @include delice;
            font-size:48px;
            margin-top:40px;
            margin-bottom: 30px;
        }
        .titre.enchant{
            font-family: $enchant-police_titre;
            font-size:48px;
            margin-top: 0px;
        }
        .titre{
            display: flex;
            justify-content: center;
            font-size: 36px;
            margin-top: 60px;
            margin-bottom: 50px;
        }   
    .entrée ,.plat ,.dessert{
            .trait.enchant{
                width:60%;
                height:55px;
            }
            .trait.chic{
                width:25%;
                height:15px;
            }
            .trait.delice{
                width:25%;
                height:15px;
            }
            .trait.palette{
                width:30%;
                height:15px;
            }
        .decor {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .nom_entrée.chic {
                color: $couleur_police_titre_nom_entrée;
            }
            .nom_plat.chic{
                color: $couleur_police_titre_nom_plat;
            }
            .nom_dessert.chic{
                color:$couleur_police_titre_nom_dessert;
            }
            .nom_entrée.chic,.nom_plat.chic,.nom_dessert.chic{
                    font-family: $chic-police_sous_titre;
                    font-size: 24px;
            }
            .nom_entrée.palette,.nom_plat.palette,.nom_dessert.palette{
                    font-family: $palette-police_sous_titre;
                    font-size: 24px;
            }
            .nom_entrée.delice,.nom_plat.delice,.nom_dessert.delice{
                    font-family: $delice-police_sous_titre;
                    font-size: 24px;
            }
            .nom_entrée.enchant,.nom_plat.enchant,.nom_dessert.enchant{
                    font-family: $enchant-police_sous_titre;
                    font-size: 1.5rem;
            }
            .nom_entrée,.nom_plat,.nom_dessert{
                display: flex;
                line-height: 36px;
                font-weight: bold;
                align-items: center;
                width: 60%;
                justify-content: center;
                text-align: center;
                &.chic.un{ 
                    @include soulignement_chic1; }
                &.chic.deux{ 
                    @include soulignement_chic2; }
                &.chic.trois{ 
                    @include soulignement_chic3; }     
                &.delice{
                    @include soulignement_delice;}
                &.palette{
                    @include soulignement_palette;}
                &.enchant{
                    @include soulignement_enchant}
            }
        }    
    }   
    .entrée ,.plat ,.dessert{
        ul.descrip{
            display: flex;
            flex-direction: column;
            margin-right: 0px;
            margin-left: 0px;
            padding-bottom: 30px;
            padding:20px;
            li{
                list-style: none;
                display: flex;
                justify-content: space-between;
                margin: 0px;
                margin-top: 0px;
                margin-bottom: 10px;
                font-family: $chic-police_titre;
                font-size: 16px;
                line-height: 32px;
                span.prix{
                    display: flex;
                    font-weight: bold;
                   
                }
            }
        }
    }
    .carte.chic{
        .entrée ul.descrip li{
             color: $couleur_police_titre_nom_entrée;
        }
        .plat ul.descrip li{
            color: $couleur_police_titre_nom_plat;
        }
        .dessert ul.descrip li{
            color: $couleur_police_titre_nom_dessert;
        }
    }
    .btn{
        display: flex;
        justify-content: center;
        margin: 40px;
            .bouton{
                background:#579c87 ;
                font-size: medium; 
                width:20%;
                height: 70px;
                border-radius: 15px;
                color:#fdcb46;
                font-size: xx-large;
            }       
    }
    .bas_carte{
        display: flex;
        height: 80px;
        justify-content: center;
            &.chic,&.palette,&.delice{
                display: none;
            }
        .note{
            width: 70px;
            height: 50px;
        }   
        h3{
            margin-top: 5px;
            font-size: 2rem;
            font-family: $delice-police_titre;
            font-weight: bold; 
        }
    }
    #bas{
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background:#579c87;
        text-decoration: none;
        height: 30px;
        bottom: 0px;;
        position: fixed;
        width: 100%;
        p {
            color: #fdcb46;
            font-size: 25px;
            margin: 0px;
        }
         a:link{
            text-decoration: none;
            margin-right: 20px;
        }   
    }
      
#bas p:hover{
    @include transform-footer;
}
    
@media all and (max-width: 768px){
    .carte{
        width: 87%;
        ul.descrip{
            padding-left: 0px;
            padding-right: 0px;
        }
        .titre{
            margin-top:20px;
            margin-bottom: 30px;
        }    
        .entrée,.plat,.dessert{
            ul.descrip li{ 
                font-size: 16px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
    .carte .decor .trait{
        width:30%;
        height:10px;
        font-size: 20px;
    }
} 
@media all and (max-width: 666px){
    header{
        margin:0px;
        margin-bottom: 20px;
    }
    .logo{
        width: 100%;
        margin: 10px;
    }    
    a img{
        width: 90%;
        margin: 10px;
    }
    a{
        margin:0%
    }
    .carte{
        .decor{
            .nom_entrée,.nom_plat,.nom_dessert{
                &.chic,&.palette,&.enchant,&.delice{
                    font-size: 18px;
                    line-height: 24px;
                }
            }
        }
    }
    .carte{
        width: 70%;
        .decor {
            .trait.chic{
                width:20%;
                height:15px;
            }
            .trait.enchant{
                width: 25%;
            }
            .trait.delice{
                width: 18%;
            }
        }
        .titre{
            &.delice,&.enchant,&.palette{
                font-size: 32px;
            }
        }
        .titre.chic{
            font-size: 22px;
        }
        .entrée,.plat,.dessert{
            ul.descrip li{
                font-size: 14px;
                line-height: 20px;
            }
        }
        .entrée li,.plat li,.dessert li{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            span{
                font-size: 14px;
            }
        }
    }
    .bouton .btn{
        width:51%;
    }
    .bas_carte h3{
        font-size: 26px;
    }
    #bas p{
            font-size: 20px;
    }
}