@charset "UTF-8";
body {
  font-size: 18px;
  width: 100%;
  margin: auto;
  height: auto;
}

header {
  background: #579c87;
  width: 100%;
  height: 120px;
  padding-top: 5px;
  margin-bottom: 29px;
}
header p {
  position: absolute;
  top: 85px;
  width: 100%;
}
header p label {
  display: none;
}
header p .fa-search {
  position: absolute;
  top: 17px;
  left: 15px;
  color: #a1a1a1;
}
header #search {
  width: 100%;
  height: 50px;
  padding-left: 50px;
  border: none;
  background-color: #e8e8e8;
  box-shadow: 0px 0px 5px #a1a1a1;
  font-size: 16px;
  color: #4b4b4b;
}

#logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
#logo h1 {
  display: none;
}

.header {
  background: #ffffff;
  display: flex;
  justify-content: center;
  height: 60px;
}

.titre h1 {
  display: none;
  margin-bottom: 0px;
}

.carte.chic {
  background: #fff5fe;
}

.carte.enchant {
  background: #FCDFDB;
}

.carte.delice {
  background: #eef0f0;
}

.carte .palette {
  background: #fdfffd;
}

.carte {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  margin: auto;
  justify-content: center;
  box-shadow: 0px 0px 5px #a1a1a1;
  margin-bottom: 130px;
  padding-left: 30px;
  padding-right: 30px;
}
.carte .pos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carte .pos img {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  align-content: center;
}

.note {
  display: flex;
  justify-content: center;
}
.note img {
  width: 60%;
  height: 100px;
  margin-top: 20px;
}

.titre.chic {
  font-family: "Croissant One", cursive;
  font-size: 48px;
  background: linear-gradient(to right, #d8852e, #905bfd);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.titre.palette {
  font-family: "Kaushan Script", cursive;
  background: linear-gradient(to right, #42973c, #bfff7e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
}

.titre.delice {
  font-family: "Parisienne", cursive;
  background: linear-gradient(to right, #0645e5, #1b91fa);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.titre.enchant {
  font-family: "Devonshire", cursive;
  font-size: 48px;
  margin-top: 0px;
}

.titre {
  display: flex;
  justify-content: center;
  font-size: 36px;
  margin-top: 60px;
  margin-bottom: 50px;
}

.entrée .trait.enchant, .plat .trait.enchant, .dessert .trait.enchant {
  width: 60%;
  height: 55px;
}
.entrée .trait.chic, .plat .trait.chic, .dessert .trait.chic {
  width: 25%;
  height: 15px;
}
.entrée .trait.delice, .plat .trait.delice, .dessert .trait.delice {
  width: 25%;
  height: 15px;
}
.entrée .trait.palette, .plat .trait.palette, .dessert .trait.palette {
  width: 30%;
  height: 15px;
}
.entrée .decor, .plat .decor, .dessert .decor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.entrée .decor .nom_entrée.chic, .plat .decor .nom_entrée.chic, .dessert .decor .nom_entrée.chic {
  color: #c7750c;
}
.entrée .decor .nom_plat.chic, .plat .decor .nom_plat.chic, .dessert .decor .nom_plat.chic {
  color: #a6679a;
}
.entrée .decor .nom_dessert.chic, .plat .decor .nom_dessert.chic, .dessert .decor .nom_dessert.chic {
  color: #6e4bce;
}
.entrée .decor .nom_entrée.chic, .entrée .decor .nom_plat.chic, .entrée .decor .nom_dessert.chic, .plat .decor .nom_entrée.chic, .plat .decor .nom_plat.chic, .plat .decor .nom_dessert.chic, .dessert .decor .nom_entrée.chic, .dessert .decor .nom_plat.chic, .dessert .decor .nom_dessert.chic {
  font-family: "Libre-Baskerville", cursive;
  font-size: 24px;
}
.entrée .decor .nom_entrée.palette, .entrée .decor .nom_plat.palette, .entrée .decor .nom_dessert.palette, .plat .decor .nom_entrée.palette, .plat .decor .nom_plat.palette, .plat .decor .nom_dessert.palette, .dessert .decor .nom_entrée.palette, .dessert .decor .nom_plat.palette, .dessert .decor .nom_dessert.palette {
  font-family: "Tillana", cursive;
  font-size: 24px;
}
.entrée .decor .nom_entrée.delice, .entrée .decor .nom_plat.delice, .entrée .decor .nom_dessert.delice, .plat .decor .nom_entrée.delice, .plat .decor .nom_plat.delice, .plat .decor .nom_dessert.delice, .dessert .decor .nom_entrée.delice, .dessert .decor .nom_plat.delice, .dessert .decor .nom_dessert.delice {
  font-family: "Tillana", cursive;
  font-size: 24px;
}
.entrée .decor .nom_entrée.enchant, .entrée .decor .nom_plat.enchant, .entrée .decor .nom_dessert.enchant, .plat .decor .nom_entrée.enchant, .plat .decor .nom_plat.enchant, .plat .decor .nom_dessert.enchant, .dessert .decor .nom_entrée.enchant, .dessert .decor .nom_plat.enchant, .dessert .decor .nom_dessert.enchant {
  font-family: "Kurale", cursive;
  font-size: 1.5rem;
}
.entrée .decor .nom_entrée, .entrée .decor .nom_plat, .entrée .decor .nom_dessert, .plat .decor .nom_entrée, .plat .decor .nom_plat, .plat .decor .nom_dessert, .dessert .decor .nom_entrée, .dessert .decor .nom_plat, .dessert .decor .nom_dessert {
  display: flex;
  line-height: 36px;
  font-weight: bold;
  align-items: center;
  width: 60%;
  justify-content: center;
  text-align: center;
}
.entrée .decor .nom_entrée.chic.un a, .entrée .decor .nom_plat.chic.un a, .entrée .decor .nom_dessert.chic.un a, .plat .decor .nom_entrée.chic.un a, .plat .decor .nom_plat.chic.un a, .plat .decor .nom_dessert.chic.un a, .dessert .decor .nom_entrée.chic.un a, .dessert .decor .nom_plat.chic.un a, .dessert .decor .nom_dessert.chic.un a {
  color: inherit;
  text-decoration: none;
  background: linear-gradient(to top, #d8852e 0%, #d8852e 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.entrée .decor .nom_entrée.chic.un a:hover, .entrée .decor .nom_plat.chic.un a:hover, .entrée .decor .nom_dessert.chic.un a:hover, .plat .decor .nom_entrée.chic.un a:hover, .plat .decor .nom_plat.chic.un a:hover, .plat .decor .nom_dessert.chic.un a:hover, .dessert .decor .nom_entrée.chic.un a:hover, .dessert .decor .nom_plat.chic.un a:hover, .dessert .decor .nom_dessert.chic.un a:hover {
  background-size: 100% 100%;
}
.entrée .decor .nom_entrée.chic.deux a, .entrée .decor .nom_plat.chic.deux a, .entrée .decor .nom_dessert.chic.deux a, .plat .decor .nom_entrée.chic.deux a, .plat .decor .nom_plat.chic.deux a, .plat .decor .nom_dessert.chic.deux a, .dessert .decor .nom_entrée.chic.deux a, .dessert .decor .nom_plat.chic.deux a, .dessert .decor .nom_dessert.chic.deux a {
  color: inherit;
  text-decoration: none;
  background: linear-gradient(to top, #a6679a 0%, #a6679a 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.entrée .decor .nom_entrée.chic.deux a:hover, .entrée .decor .nom_plat.chic.deux a:hover, .entrée .decor .nom_dessert.chic.deux a:hover, .plat .decor .nom_entrée.chic.deux a:hover, .plat .decor .nom_plat.chic.deux a:hover, .plat .decor .nom_dessert.chic.deux a:hover, .dessert .decor .nom_entrée.chic.deux a:hover, .dessert .decor .nom_plat.chic.deux a:hover, .dessert .decor .nom_dessert.chic.deux a:hover {
  background-size: 100% 100%;
}
.entrée .decor .nom_entrée.chic.trois a, .entrée .decor .nom_plat.chic.trois a, .entrée .decor .nom_dessert.chic.trois a, .plat .decor .nom_entrée.chic.trois a, .plat .decor .nom_plat.chic.trois a, .plat .decor .nom_dessert.chic.trois a, .dessert .decor .nom_entrée.chic.trois a, .dessert .decor .nom_plat.chic.trois a, .dessert .decor .nom_dessert.chic.trois a {
  color: inherit;
  text-decoration: none;
  background: linear-gradient(to top, #6e4bce 0%, #6e4bce 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.entrée .decor .nom_entrée.chic.trois a:hover, .entrée .decor .nom_plat.chic.trois a:hover, .entrée .decor .nom_dessert.chic.trois a:hover, .plat .decor .nom_entrée.chic.trois a:hover, .plat .decor .nom_plat.chic.trois a:hover, .plat .decor .nom_dessert.chic.trois a:hover, .dessert .decor .nom_entrée.chic.trois a:hover, .dessert .decor .nom_plat.chic.trois a:hover, .dessert .decor .nom_dessert.chic.trois a:hover {
  background-size: 100% 100%;
}
.entrée .decor .nom_entrée.delice a, .entrée .decor .nom_plat.delice a, .entrée .decor .nom_dessert.delice a, .plat .decor .nom_entrée.delice a, .plat .decor .nom_plat.delice a, .plat .decor .nom_dessert.delice a, .dessert .decor .nom_entrée.delice a, .dessert .decor .nom_plat.delice a, .dessert .decor .nom_dessert.delice a {
  color: inherit;
  text-decoration: none;
  background: linear-gradient(to top, #0645e5 0%, #1b91fa 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.entrée .decor .nom_entrée.delice a:hover, .entrée .decor .nom_plat.delice a:hover, .entrée .decor .nom_dessert.delice a:hover, .plat .decor .nom_entrée.delice a:hover, .plat .decor .nom_plat.delice a:hover, .plat .decor .nom_dessert.delice a:hover, .dessert .decor .nom_entrée.delice a:hover, .dessert .decor .nom_plat.delice a:hover, .dessert .decor .nom_dessert.delice a:hover {
  background-size: 100% 100%;
}
.entrée .decor .nom_entrée.palette a, .entrée .decor .nom_plat.palette a, .entrée .decor .nom_dessert.palette a, .plat .decor .nom_entrée.palette a, .plat .decor .nom_plat.palette a, .plat .decor .nom_dessert.palette a, .dessert .decor .nom_entrée.palette a, .dessert .decor .nom_plat.palette a, .dessert .decor .nom_dessert.palette a {
  color: inherit;
  text-decoration: none;
  background: linear-gradient(to top, #42973c 0%, #42973c 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.entrée .decor .nom_entrée.palette a:hover, .entrée .decor .nom_plat.palette a:hover, .entrée .decor .nom_dessert.palette a:hover, .plat .decor .nom_entrée.palette a:hover, .plat .decor .nom_plat.palette a:hover, .plat .decor .nom_dessert.palette a:hover, .dessert .decor .nom_entrée.palette a:hover, .dessert .decor .nom_plat.palette a:hover, .dessert .decor .nom_dessert.palette a:hover {
  background-size: 100% 100%;
}
.entrée .decor .nom_entrée.enchant a, .entrée .decor .nom_plat.enchant a, .entrée .decor .nom_dessert.enchant a, .plat .decor .nom_entrée.enchant a, .plat .decor .nom_plat.enchant a, .plat .decor .nom_dessert.enchant a, .dessert .decor .nom_entrée.enchant a, .dessert .decor .nom_plat.enchant a, .dessert .decor .nom_dessert.enchant a {
  color: inherit;
  text-decoration: none;
  background: linear-gradient(to top, #3c1218 0%, #3c1218 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.entrée .decor .nom_entrée.enchant a:hover, .entrée .decor .nom_plat.enchant a:hover, .entrée .decor .nom_dessert.enchant a:hover, .plat .decor .nom_entrée.enchant a:hover, .plat .decor .nom_plat.enchant a:hover, .plat .decor .nom_dessert.enchant a:hover, .dessert .decor .nom_entrée.enchant a:hover, .dessert .decor .nom_plat.enchant a:hover, .dessert .decor .nom_dessert.enchant a:hover {
  background-size: 100% 100%;
}

.entrée ul.descrip, .plat ul.descrip, .dessert ul.descrip {
  display: flex;
  flex-direction: column;
  margin-right: 0px;
  margin-left: 0px;
  padding-bottom: 30px;
  padding: 20px;
}
.entrée ul.descrip li, .plat ul.descrip li, .dessert ul.descrip li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: "Croissant One", cursive;
  font-size: 16px;
  line-height: 32px;
}
.entrée ul.descrip li span.prix, .plat ul.descrip li span.prix, .dessert ul.descrip li span.prix {
  display: flex;
  font-weight: bold;
}

.carte.chic .entrée ul.descrip li {
  color: #c7750c;
}
.carte.chic .plat ul.descrip li {
  color: #a6679a;
}
.carte.chic .dessert ul.descrip li {
  color: #6e4bce;
}

.btn {
  display: flex;
  justify-content: center;
  margin: 40px;
}
.btn .bouton {
  background: #579c87;
  font-size: medium;
  width: 20%;
  height: 70px;
  border-radius: 15px;
  color: #fdcb46;
  font-size: xx-large;
}

.bas_carte {
  display: flex;
  height: 80px;
  justify-content: center;
}
.bas_carte.chic, .bas_carte.palette, .bas_carte.delice {
  display: none;
}
.bas_carte .note {
  width: 70px;
  height: 50px;
}
.bas_carte h3 {
  margin-top: 5px;
  font-size: 2rem;
  font-family: "Parisienne", cursive;
  font-weight: bold;
}

#bas {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #579c87;
  text-decoration: none;
  height: 30px;
  bottom: 0px;
  position: fixed;
  width: 100%;
}
#bas p {
  color: #fdcb46;
  font-size: 25px;
  margin: 0px;
}
#bas a:link {
  text-decoration: none;
  margin-right: 20px;
}

#bas p:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@media all and (max-width: 768px) {
  .carte {
    width: 87%;
  }
  .carte ul.descrip {
    padding-left: 0px;
    padding-right: 0px;
  }
  .carte .titre {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .carte .entrée ul.descrip li, .carte .plat ul.descrip li, .carte .dessert ul.descrip li {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .carte .decor .trait {
    width: 30%;
    height: 10px;
    font-size: 20px;
  }
}
@media all and (max-width: 666px) {
  header {
    margin: 0px;
    margin-bottom: 20px;
  }

  .logo {
    width: 100%;
    margin: 10px;
  }

  a img {
    width: 90%;
    margin: 10px;
  }

  a {
    margin: 0%;
  }

  .carte .decor .nom_entrée.chic, .carte .decor .nom_entrée.palette, .carte .decor .nom_entrée.enchant, .carte .decor .nom_entrée.delice, .carte .decor .nom_plat.chic, .carte .decor .nom_plat.palette, .carte .decor .nom_plat.enchant, .carte .decor .nom_plat.delice, .carte .decor .nom_dessert.chic, .carte .decor .nom_dessert.palette, .carte .decor .nom_dessert.enchant, .carte .decor .nom_dessert.delice {
    font-size: 18px;
    line-height: 24px;
  }

  .carte {
    width: 70%;
  }
  .carte .decor .trait.chic {
    width: 20%;
    height: 15px;
  }
  .carte .decor .trait.enchant {
    width: 25%;
  }
  .carte .decor .trait.delice {
    width: 18%;
  }
  .carte .titre.delice, .carte .titre.enchant, .carte .titre.palette {
    font-size: 32px;
  }
  .carte .titre.chic {
    font-size: 22px;
  }
  .carte .entrée ul.descrip li, .carte .plat ul.descrip li, .carte .dessert ul.descrip li {
    font-size: 14px;
    line-height: 20px;
  }
  .carte .entrée li, .carte .plat li, .carte .dessert li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .carte .entrée li span, .carte .plat li span, .carte .dessert li span {
    font-size: 14px;
  }

  .bas_carte h3 {
    font-size: 26px;
  }

  #bas p {
    font-size: 20px;
  }
}

/*# sourceMappingURL=carte_delice.css.map */
