@charset "UTF-8";
body {
  font-size: 18px;
  width: 100%;
  margin: auto;
  height: auto;
}

header {
  background: #579c87;
  width: 100%;
  height: 120px;
  padding-top: 5px;
  margin-bottom: 29px;
}
header p {
  position: absolute;
  top: 85px;
  width: 100%;
}
header p label {
  display: none;
}
header p .fa-search {
  position: absolute;
  top: 17px;
  left: 15px;
  color: #a1a1a1;
}
header #search {
  width: 100%;
  height: 50px;
  padding-left: 50px;
  border: none;
  background-color: #e8e8e8;
  box-shadow: 0px 0px 5px #a1a1a1;
  font-size: 16px;
  color: #4b4b4b;
}

#logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
#logo h1 {
  display: none;
}

.header {
  background: #ffffff;
  display: flex;
  justify-content: center;
  height: 60px;
}

.carte {
  display: flex;
  flex-direction: column;
  width: 36%;
  height: auto;
  margin: auto;
  justify-content: center;
  background-color: #fcdfdb;
  box-shadow: 0px 0px 5px #a1a1a1;
  margin-bottom: 130px;
  padding-left: 30px;
  padding-right: 30px;
}
.carte .pos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carte .pos img {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-content: center;
}
.carte .note {
  display: flex;
  justify-content: center;
}
.carte .note img {
  width: 60%;
  height: 120px;
  margin-top: 20px;
}
.carte .titre {
  display: flex;
  justify-content: center;
  font-family: "Devonshire", cursive;
  font-size: 58px;
  margin-top: 0px;
  margin-bottom: 15px;
}
.carte .entrée .trait, .carte .plat .trait, .carte .dessert .trait {
  width: 85%;
  height: 45px;
}
.carte .entrée .decor, .carte .plat .decor, .carte .dessert .decor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.carte .entrée .decor .nom_entrée, .carte .entrée .decor .nom_plat, .carte .entrée .decor .nom_dessert, .carte .plat .decor .nom_entrée, .carte .plat .decor .nom_plat, .carte .plat .decor .nom_dessert, .carte .dessert .decor .nom_entrée, .carte .dessert .decor .nom_plat, .carte .dessert .decor .nom_dessert {
  display: flex;
  font-size: 24px;
  line-height: 36px;
  font-family: "Tillana", cursive;
  font-weight: bold;
  align-items: center;
  width: 60%;
  justify-content: center;
}
.carte .entrée ul.descrip, .carte .plat ul.descrip, .carte .dessert ul.descrip {
  display: flex;
  flex-direction: column;
  margin-right: 0px;
  margin-left: 0px;
  padding-bottom: 30px;
}
.carte .entrée ul.descrip li, .carte .plat ul.descrip li, .carte .dessert ul.descrip li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: "Tillana", cursive;
  font-size: 16px;
  line-height: 32px;
}
.carte .entrée ul.descrip li span.prix, .carte .plat ul.descrip li span.prix, .carte .dessert ul.descrip li span.prix {
  display: flex;
  font-weight: bold;
}

.btn {
  display: flex;
  justify-content: center;
  margin: 40px;
}
.btn .bouton {
  background: #579c87;
  font-size: medium;
  width: 20%;
  height: 70px;
  border-radius: 15px;
  color: #fdcb46;
  font-size: xx-large;
}

.bas_carte {
  display: none;
  height: 80px;
  justify-content: center;
}
.bas_carte .note {
  width: 70px;
  height: 50px;
}
.bas_carte h3 {
  margin-top: 5px;
  font-size: 2rem;
  font-family: "Devonshire", cursive;
  font-weight: bold;
}

#bas {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #579c87;
  text-decoration: none;
  height: 30px;
  bottom: 0px;
  position: fixed;
  width: 100%;
}
#bas p {
  color: #fdcb46;
  font-size: 25px;
  margin: 0px;
}

a:link {
  text-decoration: none;
  margin-right: 20px;
}

#bas p:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@media screen and (max-width: 768px) {
  .carte {
    width: 87%;
  }
  .carte ul.descrip {
    padding-left: 23px;
    padding-right: 23px;
  }

  .carte .decor .trait {
    width: 80%;
  }
}
@media screen and (max-width: 666px) {
  header {
    margin: 0px;
  }

  .logo {
    width: 100%;
    margin: 10px;
  }

  a img {
    width: 100%;
    margin: 10px;
  }

  a {
    margin: 0%;
  }

  .carte {
    width: 70%;
  }
  .carte .decor .trait {
    width: 34%;
  }
  .carte ul .descrip {
    text-align: center;
  }
}

/*# sourceMappingURL=carte_note.css.map */
